/* CONTENTS */
/* 
1.Header - 11
2.First owl-slider - 213
3.Service-239
4.Products - 331
5.Message - 474
6.Trending - 528
7.Review - 567
8.Blog - 644
9.Details - 734
10.Footer - 789
*/

/* header */
.first-header{
    padding-top: 12px;
    background-color: $background-color;
    .social-links{
        a{
            text-decoration: none;
        }
        
        /* alternativ social links */
        /* a{
            border: 1px solid none;
            padding-right: 2px;
            text-decoration: none;
            .behance{
                color: $main-color;
                font-size: 18px;
                padding: 3px;
                text-align: center;
                width: 18px;
                height: 18px;
                line-height: 18px;
                &:hover{
                    color: #0056FF;
                }
            }
            .facebook{
                @extend .behance;
                &:hover{
                    color: #4867AA;
                }
            }
            .dribble{
                @extend .behance;
                &:hover{
                    color: #E1528A;
                }
            }
            .google{
                @extend .behance;
                &:hover{
                    color: #DF4C42;
                }
            }  
            .vine{
                @extend .behance;
                &:hover{
                    color: #00B389;
                }
            }
            .youtube{
                @extend .behance;
                &:hover{
                    color: #DF2F20;
                }
            } 
        } */
    }
    .first-header-text{
        color: #DC4B3E;
        font-weight: 500;
        font-size: 14px;
    }
    .lang-cur{
        float: right;
        .language, .currency{
            text-decoration: none;
            color: $main-color;

        }
        a{
            font-size:14px;
        }

    }
}
.second-header{
    padding: 15px 0;
    .search-place{
        border-color: #ececec;
        background: $background-color;
        color: #a5a5a5;
        font-size: 14px;
        padding: 14px;
    }
    .button-place{
        @extend .search-place;
        border-left: none;
        &:hover{
            background-color: $secondary-color;
            color: white;
        }
    }
    .login{
        .login-button{
            text-decoration: none;
            padding: 0;
            cursor: pointer;
            transition: 0.5s;
            margin-right: 20px;
            color: $main-color;
            &:hover{
                color: $secondary-color;
            }
        }
    }
    .heart{
        a{
            font-size: 30px;
            color: $main-color;
            text-decoration: none;
            transition: 0.5s;
            &:hover{
                color: #f44336;
            }
        }
    }
    .shop{
        .shop-button{
            text-decoration: none;
            cursor: pointer;
            transition: 0.5s;
            color: $main-color;
            font-size: 30px;
            &:hover{
                color: #1F91F1;
            }
        }
        .dropdown-toggle::after {
            display:none
        }
        .test{
            height: 290px;
            overflow-x: hidden;
            padding-bottom: 30px;
            &::-webkit-scrollbar{
                width: 4px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: $secondary-color;
            }
        }
        .shop-menu {
            position: relative;
            z-index: 99999;  
            .shop-menu-item{
                padding: 10px 10px;
                border-bottom: 1px solid #f3f3f3;
                .price{
                    font-size: 14px;
                }
            }
        }
        .compare{
            background-color: white;
            position: fixed;
            bottom: 0;
            padding: 6px;
            right: 0;
            width: 100%;
            a{
                padding: 5px 30px;
                font-weight: 300;
                border: none;
                &:hover{
                    background-color: $secondary-color;
                    color: white;
                }
                i{
                    font-size: 12px;
                }
            }
        }
    }
}
.third-header{
    background-color: $background-color;
    border-bottom: 2px solid $secondary-color;
    
    .main-menu{
        width: 100%;
        position: static;
        .dropdown-toggle::after {
            display:none
        }
        ul{
            li{
                a{
                    color: $main-color;
                    font-size: 15px;
                    width: max-content;
                    &:hover{
                        background: none;
                        color: $secondary-color;
                        transition: 0.3s;
                    }
                }
                .dropdown-item{
                    &:hover{
                        transform: translateX(10px);  
                    }
                }
            }
        }
    }
}

/* first slider owl */
.first-slider-section{
    .main-slider{
        .first-slider-owl{
            .textover-slider{
                .slider-text{
                    position: absolute;
                    top: 32%;
                    color: white;
                    .slider-title{
                        font-weight: 300;
                        .slider-title-bold{
                            font-weight: 500;
                        }
                    }
                    .slider-button{
                        @include button-main;
                        border: none;
                        padding: 10px 20px;
                    }
                }
            }
        }
    }
}

/* service section */
.service-section{
    background-color: $background-color;
    padding: 50px 0;
    .service-item{
        background: #fff;
        padding: 35px 20px;
        background-repeat: no-repeat;
        background-position: bottom right;
        position: relative;
        overflow: hidden;
        transition: 0.5s;
        transform: translateY(0);
        cursor: pointer;
        &:hover{
            transform: translateY(-10px);
        }
        &:hover:before {
            width: 0;
        }
        &:hover:after {
            width: 100%;
        }
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            transition: 0.5s;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 0%;
            height: 3px;
            transition: 0.5s;
        }
        .service-text{
            h5{
                font-size: 18px;
                font-weight: 900;
            }
            
        }
        .service-bg-img{
            img{
                position: absolute;
                right: 0;
                bottom: 0;
            }
            
        }
    }
    .social{
        &::before{
            background: #19b2f7;
        }
        &::after{
            background: #19b2f7;
        }
    }
    .price{
        &::before{
            background: #f7cf00;
        }
        &::after{
            background: #f7cf00;
        }
    }
    .multivendor{
        &::before{
            background: #ff6969;
        }
        &::after{
            background: #ff6969;
        }
    }
    .product{
        &::before{
            background:#00c9e2;
        }
        &::after{
            background: #00c9e2;
        }
    }
    
}

/* products section */
.products-section, .trending-section{
    padding: 50px 0;
    .products-title-section{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background: #d6d6d6;
            transform: translateY(-50%);
        }
        h2{
            position: relative;
            z-index: 99;
            font-size: 30px;
            font-weight: 400;
            display: inline-block;
            background: white;
            padding-right: 35px;
        }
    }
    .products-owl-slider{
        .owl-nav{
            position: absolute;
            top: -77px;
            right: 0;
            background: #fff;
            padding: 0 15px;
            
            .owl-prev, .owl-next{
                color: black;
                padding: 8px 15px;
                transition: 0.5s;
                i{
                    font-size: 20px;
                    line-height: 30px;
                }
                &:hover{
                    color: white;
                    background: black; 
                }
            }
        }
        .products-slider-item{
            .products-item-img{
                overflow: hidden;
                a{
                    text-decoration: none;
                    transition: 0.5s;
                }
            }
            .view-button{
                position: absolute;
                left: 50%;
                top: 50%;
                transition: 0.5s;
                opacity: 0;
                transform: translate(-50%, -50%);
                .compare-button{
                    button{
                        @include button-main;
                        background: white;
                        color: $secondary-color;
                        border-radius: 20px;
                        cursor: pointer;
                        &:hover{
                            background:$secondary-color;
                            color: white;
                        }
                    }
                }
            }
            figcaption{
                padding: 18px 10px;
                border: 1px solid #e5e5e5;
                border-top: 0;
                background: white;
                transition: 0.5s;
                .figcaption-badge{
                    padding: 7px 12px;
                    font-size: 12px;
                    font-weight: 400;
                    position: absolute;
                    top: 20px;
                    left: 25px;
                }
                .featured-bg-color{
                    background: #01CEE8;
                }
                .new-bg-color{
                    background: #FF4B4B;
                }
                .figcaption-wishlist{
                    font-size: 30px;
                    color: white;
                    position: absolute;
                    top: 11px;
                    right: 28px;
                    cursor: pointer;
                    i{
                        transition: 0.5s;
                    }
                    &:hover{
                        color: #FF4B4B;
                    }
                }
                .figcaption-price{
                    color: $main-color;
                    p{
                        font-size: 18px;
                        color: $main-color;
                        .price-bold{
                            margin-left: 5px;
                            display: inline-block;
                            color: $secondary-color;
                        }
                    }
                }
                .figcaption-info{
                    color: $main-color;
                    margin-bottom: 10px;
                    margin-top: 5px;
                }
                .figcaption-rating{
                    display: inline-block;
                }
                .figcaption-button{
                    .compare-button{
                        @include button-main;
                        font-size: 12px;
                        padding: 6px 10px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

/* message section */
.message-section{
    padding: 7% 0;
    background-image: url("../img/message-bg.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
   .message-info{
       color: white;
       .info-title{
           position: relative;
           padding: 5px 0 0;
           display: inline-block;
           &::before{
            content: "";
            height: 5px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: white;
           }
           &::after{
            content: "";
            height: 5px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: white;
           }
           h1{
               font-size: 50px;
           }
       }
       .info-context{
        padding: 30px 34px 50px;
        p{
            margin: 0;
        }
       }
       .shop-button{
           @include button-main;
           border: none;
           font-size: 18px;
           font-weight: 700;
           padding: 11px 21px;
       }
   }
    
}

/* trending section*/
.trending-section{
    background: $background-color;
    .trending-title-section{
        h2{
            padding: 0 15px;
            background: $background-color;
        }
    }
    .trending-slider{
        .owl-nav{
            background: none;
            position: initial;
            .owl-prev, .owl-next{
                position: absolute;
                top: 40%;
                border-radius: 100%;
                background-color: white;
                &:hover{
                    background-color: $secondary-color;
                }
                i{
                    font-size: 16px;
                    line-height: 25px;
                }
            }
            .owl-prev{
                left: -5%;
            }
            .owl-next{
                right: -5%;
            }
        }
    }
    
    
}

/* review section */
.review-section{
    padding: 50px 0;
    .review-title-section{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background: #d6d6d6;
        }
        h2{
            position: relative;
            z-index: 99;
            font-size: 30px;
            font-weight: 400;
            display: inline-block;
            background: white;
            padding:0 15px;
        }
    }
    .review-owl-slider{
        box-shadow: 0px 0px 42px 0px rgba(130, 156, 199, 0.2);
        .review-slider-item{
            padding: 11px 20px 0px;
            background: #fff;
            .figure{
                .figure-caption{
                    padding: 10px 10px 0;
                    .author{
                        text-decoration: none;
                        color: #333333;
                        font-size: 16px;
                        transition: all 0.5s;
                        &:hover{
                            color:$secondary-color;
                        }
                    }
                    .author-subtitle{
                        a{
                            text-decoration: none;
                            transition: all 0.5s;
                            &:hover{
                                color:$secondary-color;
                            }
                        }
                    }
                }
            }
            
        }
        .owl-nav{
            .owl-prev, .owl-next{
                color: gray;
                position: absolute;
                top:24%;
                &:hover{
                    background: white;
                    color: #333333;
                }
            }
            .owl-prev{
                left:15px;
            }
            .owl-next{
                right:15px;
            }
        }
    }
}

/* blog-section */
.blog-section{
    padding: 50px 0;
    background-color: $background-color;
    .blog-title-section{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background: #d6d6d6;
        }
        h2{
            position: relative;
            z-index: 99;
            font-size: 30px;
            font-weight: 400;
            display: inline-block;
            background: $background-color;
            padding:0 15px;
        }
    }
    .blog-figure{
        background: white;
        margin: 0;
        padding: 20px;
        border-radius: 5px;
        transition: all 0.3s;
        &:hover{
            transform: translate(-5px, -5px);
            box-shadow: 5px 5px 0px 0px #00cee8;
        }
        .blog-caption{
            padding: 18px 10px;
            transition: 0.5s;
            .social-info{
                ul{
                    list-style-type: none;
                    padding: 0;
                    li{
                        display: inline-block;
                        padding: 0 25px;
                        a{
                            color: $main-color;
                            text-decoration: none;
                            font-size: 15px;
                            transition: all 0.5s;
                            &:hover{
                                color: $secondary-color;
                            }
                        }
                    }
                }
            }
            .blog-title-link{
                font-size: 20px;
                color: $main-color;
                font-weight: 500;
                margin-top: 5px;
                margin-bottom: 10px;
                display: inline-block;
                transition: all 0.5s;
                text-decoration: none;
                &:hover{
                    color: $secondary-color;
                }
            }
            .blog-text{
                font-size: 14px;
                padding-right: 20px;
            }
            .read-more{
                a{
                    text-decoration: none;
                    padding-left: 0;
                    transition: all 0.5s;
                    color: $secondary-color;
                    &:hover{
                        color: $main-color;
                    }
                }
            }
        }
    }

}

/* details-section */
.details-section{
    padding: 50px 0;
    position: relative;
    .details-item{
        position: relative;
        background-color: $background-color;
        padding: 15px 33px 12px;
        .details-icon{
            padding-top: 16px;
            .main-img{
                transition: 0.5s;
                opacity: 1;
            }
            .hover-img{
                transition: 0.5s;
                opacity: 0;
                position: absolute;
                left: 17%;
                top: 18%;
            } 
        }
        .arrow-seperate{
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .details-item-info{
            font-size: 12px;
            .info-title{
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 14px;
            }
            .info-text{
                color:#999999;
                margin: 0;
            }
        }
    }
    .last-details-item{
        position: absolute;
        right: 17px;
        background-image: url("../img/active-bg.png");
        position: relative;
        background-color: white;
        padding: 15px 33px 12px;
        h3{
            color: white;
            font-size: 25px;
            font-weight: 900;
            margin-top: 13px;
        }
    }
}

/* footer */
.subscribe{
    .subscribe-main{
        background: white;
        padding: 20px;
        box-shadow: 0px 0px 42px 0px rgba(130, 156, 199, 0.2);
        transform: translateY(37px);
        position: relative;
        z-index: 10;
        .subscribe-text{
            font-weight: 300;
        }
        .subscribe-button{
            @include button-main;
        }
    }
}
.footer{
    .upper-footer{
        padding: 100px 0;
        border-top: 1px solid $main-color;
        .footer-social{
            a{
                text-decoration: none;
            }
        }
        .footer-menu{
            .footer-menu-head{
                color: $secondary-color;
                
            }
            .footer-menu-list{
                list-style-type: none;
                padding: 0px;
                .menu-list-item{
                    width: max-content;
                    padding: 5px 0;
                    a{
                        color: $main-color;
                        position: relative;
                        text-decoration: none;
                        &:hover{
                            color: $secondary-color;
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            bottom: 0;
                            right: 0;
                            
                            background-color:$secondary-color;
                            visibility: hidden;
                            -webkit-transform: scaleX(0);
                            transform: scaleX(0);
                            -webkit-transition: all 0.3s ease-in-out 0s;
                            transition: all 0.4s ease-in-out 0s;
                          }
                          &:hover:before {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                          }
                    }
                    
                }
            }
            .stores{
                padding: 0 50px;
            }
        }
    }
    .lower-footer{
        background-color: #292929;
        .copyright{
            padding: 20px 0 10px;
            .copyright-text{
                display: inline-block;
                color: white;
            }
            .copyright-link{
                text-decoration: none;
                color: white;
            }
        }
        .copyleft{
            padding: 15px 0;
            .copyleft-brands{
                margin-right: 5px;
            }
        }
    }
}