@font-face {
  font-family: "JISAZN";
  src: url(../fonts/JAZNR.ttf); }
.azn {
  font-family: "JISAZN"; }

#scrollUp {
  background-color: #333333;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  color: #fff;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
  border-radius: 100%; }
  #scrollUp:hover {
    background-color: #FF9800; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px; }
  body .offoutline:focus {
    border-color: none;
    box-shadow: none;
    outline: 0 none; }

/* CONTENTS */
/* header */
.first-header {
  padding-top: 12px;
  background-color: #F5F5F5; }
  .first-header .social-links {
    /* alternativ social links */
    /* a{
        border: 1px solid none;
        padding-right: 2px;
        text-decoration: none;
        .behance{
            color: $main-color;
            font-size: 18px;
            padding: 3px;
            text-align: center;
            width: 18px;
            height: 18px;
            line-height: 18px;
            &:hover{
                color: #0056FF;
            }
        }
        .facebook{
            @extend .behance;
            &:hover{
                color: #4867AA;
            }
        }
        .dribble{
            @extend .behance;
            &:hover{
                color: #E1528A;
            }
        }
        .google{
            @extend .behance;
            &:hover{
                color: #DF4C42;
            }
        }  
        .vine{
            @extend .behance;
            &:hover{
                color: #00B389;
            }
        }
        .youtube{
            @extend .behance;
            &:hover{
                color: #DF2F20;
            }
        } 
    } */ }
    .first-header .social-links a {
      text-decoration: none; }
  .first-header .first-header-text {
    color: #DC4B3E;
    font-weight: 500;
    font-size: 14px; }
  .first-header .lang-cur {
    float: right; }
    .first-header .lang-cur .language, .first-header .lang-cur .currency {
      text-decoration: none;
      color: #333333; }
    .first-header .lang-cur .currency-dropdown {
      z-index: 9999; }
    .first-header .lang-cur a {
      font-size: 14px; }
    .first-header .lang-cur .azn {
      font-size: 11px; }

.second-header {
  padding: 15px 0; }
  .second-header .search-place, .second-header .button-place {
    border-color: #ececec;
    background: #F5F5F5;
    color: #a5a5a5;
    font-size: 14px;
    padding: 14px; }
  .second-header .button-place {
    border-left: none; }
    .second-header .button-place:hover {
      background-color: #FF9800;
      color: white; }
  .second-header .login .login-button {
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 20px;
    color: #333333; }
    .second-header .login .login-button:hover {
      color: #FF9800; }
  .second-header .heart a {
    font-size: 30px;
    color: #333333;
    text-decoration: none;
    transition: 0.5s; }
    .second-header .heart a:hover {
      color: #f44336; }
  .second-header .shop .shop-button {
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    color: #333333;
    font-size: 30px; }
    .second-header .shop .shop-button:hover {
      color: #1F91F1; }
  .second-header .shop .dropdown-toggle::after {
    display: none; }
  .second-header .shop .test {
    height: 290px;
    overflow-x: hidden;
    padding-bottom: 30px; }
    .second-header .shop .test::-webkit-scrollbar {
      width: 4px; }
    .second-header .shop .test::-webkit-scrollbar-thumb {
      background-color: #FF9800; }
  .second-header .shop .shop-menu {
    position: relative;
    z-index: 99999; }
    .second-header .shop .shop-menu .shop-menu-item {
      padding: 10px 10px;
      border-bottom: 1px solid #f3f3f3; }
      .second-header .shop .shop-menu .shop-menu-item .price {
        font-size: 14px; }
  .second-header .shop .compare {
    background-color: white;
    position: fixed;
    bottom: 0;
    padding: 6px;
    right: 0;
    width: 100%; }
    .second-header .shop .compare a {
      padding: 5px 30px;
      font-weight: 300;
      border: none; }
      .second-header .shop .compare a:hover {
        background-color: #FF9800;
        color: white; }
      .second-header .shop .compare a i {
        font-size: 12px; }
  .second-header .half-sm .loginmodal .modal-section .sign-upin-section {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 999; }
    .second-header .half-sm .loginmodal .modal-section .sign-upin-section li {
      font-size: 30px; }
      .second-header .half-sm .loginmodal .modal-section .sign-upin-section li .nav-link {
        padding: 10px 54px;
        color: #999999;
        background: #F5F5F5; }
      .second-header .half-sm .loginmodal .modal-section .sign-upin-section li .active {
        border-color: transparent;
        box-shadow: none;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
        color: #333333;
        background: white; }
  .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .brandbook {
    padding: 0; }
    .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .brandbook .brandbook-description {
      position: absolute;
      top: 10%;
      padding: 20px;
      color: white;
      font-size: 14px;
      font-weight: 300; }
      .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .brandbook .brandbook-description .brandbook-logo {
        margin-bottom: 35px; }
      .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .brandbook .brandbook-description .brandbook-info {
        margin-bottom: 35px; }
      .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .brandbook .brandbook-description .brandbook-list {
        list-style-type: none;
        /* &:nth-child(2) {
            margin: 15px 0;
        } */ }
        .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .brandbook .brandbook-description .brandbook-list .list-item-text {
          position: relative; }
          .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .brandbook .brandbook-description .brandbook-list .list-item-text::before {
            content: "\f00c";
            font-family: FontAwesome;
            top: 0;
            left: 0;
            padding: 0 5px 0 0; }
        .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .brandbook .brandbook-description .brandbook-list .list-item-margin {
          margin: 35px 0; }
  .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .login-sign {
    padding: 95px 20px 0; }
    .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .login-sign .social-media .social {
      padding: 8px 20px;
      border-radius: 5%;
      text-decoration: none;
      font-size: 16px;
      color: white;
      font-weight: 400;
      transition: all 1s; }
    .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .login-sign .social-media .facebook-social {
      background: #3B5998;
      border: 2px solid #3B5998; }
      .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .login-sign .social-media .facebook-social:hover {
        color: #3B5998;
        background: white; }
    .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .login-sign .social-media .twitter-social {
      background: #1DA1F2;
      margin: 0 10px;
      border: 2px solid #1DA1F2; }
      .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .login-sign .social-media .twitter-social:hover {
        color: #1DA1F2;
        background: white; }
    .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .login-sign .social-media .google-social {
      background: #EA4335;
      border: 2px solid #EA4335; }
      .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .login-sign .social-media .google-social:hover {
        color: #EA4335;
        background: white; }
    .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .login-sign .login-form {
      margin: 20px 0; }
      .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .login-sign .login-form form .form-group {
        text-align: left; }
      .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .login-sign .login-form form .user-login-button {
        background-color: #FF9800;
        color: white;
        border-color: transparent;
        font-weight: 400;
        cursor: pointer;
        display: block;
        text-transform: uppercase;
        width: 100%;
        margin-top: 25px; }
        .second-header .half-sm .loginmodal .modal-section .tab-content .tab-pane .login-sign .login-form form .user-login-button:hover {
          background-color: white;
          color: #FF9800;
          border-color: #FF9800; }

.third-header {
  background-color: #F5F5F5;
  border-bottom: 2px solid #FF9800; }
  .third-header .main-menu {
    width: 100%;
    position: static; }
    .third-header .main-menu .dropdown-toggle::after {
      display: none; }
    .third-header .main-menu ul li a {
      color: #333333;
      font-size: 15px;
      width: max-content; }
      .third-header .main-menu ul li a:hover {
        background: none;
        color: #FF9800;
        transition: 0.3s; }
    .third-header .main-menu ul li .dropdown-item:hover {
      transform: translateX(10px); }

/* first slider owl */
.first-slider-section .main-slider .first-slider-owl .textover-slider .slider-text {
  position: absolute;
  top: 32%;
  color: white; }
  .first-slider-section .main-slider .first-slider-owl .textover-slider .slider-text .slider-title {
    font-weight: 300; }
    .first-slider-section .main-slider .first-slider-owl .textover-slider .slider-text .slider-title .slider-title-bold {
      font-weight: 500; }
  .first-slider-section .main-slider .first-slider-owl .textover-slider .slider-text .slider-button {
    background-color: #FF9800;
    color: white;
    border-color: transparent;
    font-weight: 400;
    cursor: pointer;
    border: none;
    padding: 10px 20px; }
    .first-slider-section .main-slider .first-slider-owl .textover-slider .slider-text .slider-button:hover {
      background-color: white;
      color: #FF9800;
      border-color: #FF9800; }

/* service section */
.service-section {
  background-color: #F5F5F5;
  padding: 50px 0; }
  .service-section .service-item {
    background: #fff;
    padding: 35px 20px;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    transform: translateY(0);
    cursor: pointer; }
    .service-section .service-item:hover {
      transform: translateY(-10px); }
    .service-section .service-item:hover:before {
      width: 0; }
    .service-section .service-item:hover:after {
      width: 100%; }
    .service-section .service-item::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      transition: 0.5s; }
    .service-section .service-item::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0%;
      height: 3px;
      transition: 0.5s; }
    .service-section .service-item .service-text h5 {
      font-size: 18px;
      font-weight: 900; }
    .service-section .service-item .service-bg-img img {
      position: absolute;
      right: 0;
      bottom: 0; }
  .service-section .social::before {
    background: #19b2f7; }
  .service-section .social::after {
    background: #19b2f7; }
  .service-section .price::before {
    background: #f7cf00; }
  .service-section .price::after {
    background: #f7cf00; }
  .service-section .multivendor::before {
    background: #ff6969; }
  .service-section .multivendor::after {
    background: #ff6969; }
  .service-section .product::before {
    background: #00c9e2; }
  .service-section .product::after {
    background: #00c9e2; }

/* products section */
.products-section, .trending-section {
  padding: 50px 0; }
  .products-section .products-title-section, .trending-section .products-title-section {
    position: relative; }
    .products-section .products-title-section::before, .trending-section .products-title-section::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background: #d6d6d6;
      transform: translateY(-50%); }
    .products-section .products-title-section h2, .trending-section .products-title-section h2 {
      position: relative;
      z-index: 99;
      font-size: 30px;
      font-weight: 400;
      display: inline-block;
      background: white;
      padding-right: 35px; }
  .products-section .products-owl-slider .owl-nav, .trending-section .products-owl-slider .owl-nav {
    position: absolute;
    top: -77px;
    right: 0;
    background: #fff;
    padding: 0 15px; }
    .products-section .products-owl-slider .owl-nav .owl-prev, .products-section .products-owl-slider .owl-nav .owl-next, .trending-section .products-owl-slider .owl-nav .owl-prev, .trending-section .products-owl-slider .owl-nav .owl-next {
      color: black;
      padding: 8px 15px;
      transition: 0.5s; }
      .products-section .products-owl-slider .owl-nav .owl-prev i, .products-section .products-owl-slider .owl-nav .owl-next i, .trending-section .products-owl-slider .owl-nav .owl-prev i, .trending-section .products-owl-slider .owl-nav .owl-next i {
        font-size: 20px;
        line-height: 30px; }
      .products-section .products-owl-slider .owl-nav .owl-prev:hover, .products-section .products-owl-slider .owl-nav .owl-next:hover, .trending-section .products-owl-slider .owl-nav .owl-prev:hover, .trending-section .products-owl-slider .owl-nav .owl-next:hover {
        color: white;
        background: black; }

.products-slider-item {
  position: relative; }
  .products-slider-item .products-item-img {
    overflow: hidden; }
    .products-slider-item .products-item-img a {
      text-decoration: none;
      transition: 0.5s; }
  .products-slider-item .view-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 0.5s;
    opacity: 0;
    transform: translate(-50%, -50%); }
    .products-slider-item .view-button .compare-button button {
      background-color: #FF9800;
      color: white;
      border-color: transparent;
      font-weight: 400;
      cursor: pointer;
      background: white;
      color: #FF9800;
      border-radius: 20px;
      cursor: pointer; }
      .products-slider-item .view-button .compare-button button:hover {
        background-color: white;
        color: #FF9800;
        border-color: #FF9800; }
      .products-slider-item .view-button .compare-button button:hover {
        background-color: #FF9800;
        color: white; }
  .products-slider-item figcaption {
    padding: 18px 10px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    background: white;
    transition: 0.5s; }
    .products-slider-item figcaption .figcaption-badge {
      padding: 7px 12px;
      font-size: 12px;
      font-weight: 400;
      position: absolute;
      top: 3%;
      left: 10px; }
    .products-slider-item figcaption .featured-bg-color {
      background: #01CEE8; }
    .products-slider-item figcaption .new-bg-color {
      background: #FF4B4B; }
    .products-slider-item figcaption .figcaption-wishlist {
      font-size: 30px;
      color: white;
      position: absolute;
      top: 1%;
      right: 28px;
      cursor: pointer; }
      .products-slider-item figcaption .figcaption-wishlist i {
        transition: 0.5s; }
      .products-slider-item figcaption .figcaption-wishlist:hover {
        color: #FF4B4B; }
    .products-slider-item figcaption .figcaption-price {
      color: #333333; }
      .products-slider-item figcaption .figcaption-price p {
        font-size: 18px;
        color: #333333; }
        .products-slider-item figcaption .figcaption-price p .price-bold {
          margin-left: 5px;
          display: inline-block;
          color: #FF9800; }
    .products-slider-item figcaption .figcaption-info {
      color: #333333;
      margin-bottom: 10px;
      margin-top: 5px; }
    .products-slider-item figcaption .figcaption-rating {
      display: inline-block; }
    .products-slider-item figcaption .figcaption-button .compare-button {
      background-color: #FF9800;
      color: white;
      border-color: transparent;
      font-weight: 400;
      cursor: pointer;
      font-size: 12px;
      padding: 6px 10px;
      border-radius: 20px; }
      .products-slider-item figcaption .figcaption-button .compare-button:hover {
        background-color: white;
        color: #FF9800;
        border-color: #FF9800; }

/* message section */
.message-section {
  padding: 7% 0;
  background-image: url("../img/message-bg.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%; }
  .message-section .message-info {
    color: white; }
    .message-section .message-info .info-title {
      position: relative;
      padding: 5px 0 0;
      display: inline-block; }
      .message-section .message-info .info-title::before {
        content: "";
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: white; }
      .message-section .message-info .info-title::after {
        content: "";
        height: 5px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: white; }
      .message-section .message-info .info-title h1 {
        font-size: 50px; }
    .message-section .message-info .info-context {
      padding: 30px 34px 50px; }
      .message-section .message-info .info-context p {
        margin: 0; }
    .message-section .message-info .shop-button {
      background-color: #FF9800;
      color: white;
      border-color: transparent;
      font-weight: 400;
      cursor: pointer;
      border: none;
      font-size: 18px;
      font-weight: 700;
      padding: 11px 21px; }
      .message-section .message-info .shop-button:hover {
        background-color: white;
        color: #FF9800;
        border-color: #FF9800; }

/* trending section*/
.trending-section {
  background: #F5F5F5; }
  .trending-section .trending-title-section h2 {
    padding: 0 15px;
    background: #F5F5F5; }
  .trending-section .trending-slider .owl-nav {
    background: none;
    position: initial; }
    .trending-section .trending-slider .owl-nav .owl-prev, .trending-section .trending-slider .owl-nav .owl-next {
      position: absolute;
      top: 40%;
      border-radius: 100%;
      background-color: white; }
      .trending-section .trending-slider .owl-nav .owl-prev:hover, .trending-section .trending-slider .owl-nav .owl-next:hover {
        background-color: #FF9800; }
      .trending-section .trending-slider .owl-nav .owl-prev i, .trending-section .trending-slider .owl-nav .owl-next i {
        font-size: 16px;
        line-height: 25px; }
    .trending-section .trending-slider .owl-nav .owl-prev {
      left: -5%; }
    .trending-section .trending-slider .owl-nav .owl-next {
      right: -5%; }

/* review section */
.review-section {
  padding: 50px 0; }
  .review-section .review-title-section {
    position: relative; }
    .review-section .review-title-section::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background: #d6d6d6; }
    .review-section .review-title-section h2 {
      position: relative;
      z-index: 99;
      font-size: 30px;
      font-weight: 400;
      display: inline-block;
      background: white;
      padding: 0 15px; }
  .review-section .review-owl-slider {
    box-shadow: 0px 0px 42px 0px rgba(130, 156, 199, 0.2); }
    .review-section .review-owl-slider .review-slider-item {
      padding: 11px 20px 0px;
      background: #fff; }
      .review-section .review-owl-slider .review-slider-item .figure .figure-caption {
        padding: 10px 10px 0; }
        .review-section .review-owl-slider .review-slider-item .figure .figure-caption .author {
          text-decoration: none;
          color: #333333;
          font-size: 16px;
          transition: all 0.5s; }
          .review-section .review-owl-slider .review-slider-item .figure .figure-caption .author:hover {
            color: #FF9800; }
        .review-section .review-owl-slider .review-slider-item .figure .figure-caption .author-subtitle a {
          text-decoration: none;
          transition: all 0.5s; }
          .review-section .review-owl-slider .review-slider-item .figure .figure-caption .author-subtitle a:hover {
            color: #FF9800; }
    .review-section .review-owl-slider .owl-nav .owl-prev, .review-section .review-owl-slider .owl-nav .owl-next {
      color: gray;
      position: absolute;
      top: 24%; }
      .review-section .review-owl-slider .owl-nav .owl-prev:hover, .review-section .review-owl-slider .owl-nav .owl-next:hover {
        background: white;
        color: #333333; }
    .review-section .review-owl-slider .owl-nav .owl-prev {
      left: 15px; }
    .review-section .review-owl-slider .owl-nav .owl-next {
      right: 15px; }

/* blog-section */
.blog-section {
  padding: 50px 0;
  background-color: #F5F5F5; }
  .blog-section .blog-title-section {
    position: relative; }
    .blog-section .blog-title-section::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background: #d6d6d6; }
    .blog-section .blog-title-section h2 {
      position: relative;
      z-index: 99;
      font-size: 30px;
      font-weight: 400;
      display: inline-block;
      background: #F5F5F5;
      padding: 0 15px; }
  .blog-section .blog-figure {
    background: white;
    margin: 0;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.3s; }
    .blog-section .blog-figure:hover {
      transform: translate(-5px, -5px);
      box-shadow: 5px 5px 0px 0px #00cee8; }
    .blog-section .blog-figure .blog-caption {
      padding: 18px 10px;
      transition: 0.5s; }
      .blog-section .blog-figure .blog-caption .social-info ul {
        list-style-type: none;
        padding: 0; }
        .blog-section .blog-figure .blog-caption .social-info ul li {
          display: inline-block;
          padding: 0 25px; }
          .blog-section .blog-figure .blog-caption .social-info ul li a {
            color: #333333;
            text-decoration: none;
            font-size: 15px;
            transition: all 0.5s; }
            .blog-section .blog-figure .blog-caption .social-info ul li a:hover {
              color: #FF9800; }
      .blog-section .blog-figure .blog-caption .blog-title-link {
        font-size: 20px;
        color: #333333;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 10px;
        display: inline-block;
        transition: all 0.5s;
        text-decoration: none; }
        .blog-section .blog-figure .blog-caption .blog-title-link:hover {
          color: #FF9800; }
      .blog-section .blog-figure .blog-caption .blog-text {
        font-size: 14px;
        padding-right: 20px; }
      .blog-section .blog-figure .blog-caption .read-more a {
        text-decoration: none;
        padding-left: 0;
        transition: all 0.5s;
        color: #FF9800; }
        .blog-section .blog-figure .blog-caption .read-more a:hover {
          color: #333333; }

/* details-section */
.details-section {
  padding: 50px 0;
  position: relative; }
  .details-section .details-item {
    position: relative;
    background-color: #F5F5F5;
    padding: 15px 33px 12px; }
    .details-section .details-item .details-icon {
      padding-top: 16px; }
      .details-section .details-item .details-icon .main-img {
        transition: 0.5s;
        opacity: 1; }
      .details-section .details-item .details-icon .hover-img {
        transition: 0.5s;
        opacity: 0;
        position: absolute;
        left: 17%;
        top: 18%; }
    .details-section .details-item .arrow-seperate {
      position: absolute;
      right: 0;
      bottom: 0; }
    .details-section .details-item .details-item-info {
      font-size: 12px; }
      .details-section .details-item .details-item-info .info-title {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 14px; }
      .details-section .details-item .details-item-info .info-text {
        color: #999999;
        margin: 0; }
  .details-section .last-details-item {
    position: absolute;
    right: 17px;
    background-image: url("../img/active-bg.png");
    position: relative;
    background-color: white;
    padding: 15px 33px 12px; }
    .details-section .last-details-item h3 {
      color: white;
      font-size: 25px;
      font-weight: 900;
      margin-top: 13px; }

/* footer */
.subscribe-resp {
  display: none; }

.subscribe .subscribe-main {
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 42px 0px rgba(130, 156, 199, 0.2);
  transform: translateY(37px);
  position: relative;
  z-index: 10; }
  .subscribe .subscribe-main .subscribe-text {
    font-weight: 300; }
  .subscribe .subscribe-main .subscribe-button {
    background-color: #FF9800;
    color: white;
    border-color: transparent;
    font-weight: 400;
    cursor: pointer; }
    .subscribe .subscribe-main .subscribe-button:hover {
      background-color: white;
      color: #FF9800;
      border-color: #FF9800; }

.footer .upper-footer {
  padding: 100px 0;
  border-top: 1px solid #333333; }
  .footer .upper-footer .footer-social a {
    text-decoration: none; }
  .footer .upper-footer .footer-menu .footer-menu-head {
    color: #FF9800; }
  .footer .upper-footer .footer-menu .footer-menu-list {
    list-style-type: none;
    padding: 0px; }
    .footer .upper-footer .footer-menu .footer-menu-list .menu-list-item {
      width: max-content;
      padding: 5px 0; }
      .footer .upper-footer .footer-menu .footer-menu-list .menu-list-item a {
        color: #333333;
        position: relative;
        text-decoration: none; }
        .footer .upper-footer .footer-menu .footer-menu-list .menu-list-item a:hover {
          color: #FF9800; }
        .footer .upper-footer .footer-menu .footer-menu-list .menu-list-item a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          right: 0;
          background-color: #FF9800;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.4s ease-in-out 0s; }
        .footer .upper-footer .footer-menu .footer-menu-list .menu-list-item a:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1); }
  .footer .upper-footer .footer-menu .stores {
    padding: 0 50px; }
.footer .lower-footer {
  background-color: #292929; }
  .footer .lower-footer .copyright {
    padding: 20px 0 10px; }
    .footer .lower-footer .copyright .copyright-text {
      display: inline-block;
      color: white; }
    .footer .lower-footer .copyright .copyright-link {
      text-decoration: none;
      color: white; }
  .footer .lower-footer .copyleft {
    padding: 15px 0; }
    .footer .lower-footer .copyleft .copyleft-brands {
      margin-right: 5px; }

@media (max-width: 767px) {
  .first-header .social-links {
    text-align: center;
    margin-bottom: 1rem; }
  .first-header .lang-cur {
    text-align: center;
    float: none; }

  .second-header .logo {
    text-align: center;
    margin-bottom: 15px; }
  .second-header .half-sm {
    width: 49.5%; }
    .second-header .half-sm .loginmodal .main-modal {
      padding: 0; }
      .second-header .half-sm .loginmodal .main-modal .modal-section .sign-upin-section {
        position: initial;
        width: 100%;
        justify-content: center; }
        .second-header .half-sm .loginmodal .main-modal .modal-section .sign-upin-section li {
          font-size: 13px; }
      .second-header .half-sm .loginmodal .main-modal .modal-section .tab-content .tab-pane .brandbook {
        display: none; }
      .second-header .half-sm .loginmodal .main-modal .modal-section .tab-content .tab-pane .login-sign {
        padding: 20px; }
        .second-header .half-sm .loginmodal .main-modal .modal-section .tab-content .tab-pane .login-sign .social-media .social {
          padding: 5px 10px;
          font-size: 14px;
          font-weight: 300; }

  .third-header {
    position: initial; }

  .subscribe {
    display: none; }

  .subscribe-resp {
    text-align: center;
    display: block; }
    .subscribe-resp .subscribe-main .subscribe-place {
      margin-bottom: 10px; }
    .subscribe-resp .subscribe-main .subscribe-button {
      font-size: 12px; }

  .footer {
    text-align: center; }
    .footer .upper-footer {
      border-top: none;
      padding: 80px 0 5px 0; }
      .footer .upper-footer .footer-logo .footer-social {
        padding-bottom: 1rem; }
      .footer .upper-footer .footer-menu {
        text-align: -webkit-center;
        margin-bottom: 30px; }
        .footer .upper-footer .footer-menu .footer-menu-head {
          margin-bottom: 1rem !important; }

  #scrollUp {
    display: none !important; }

  .first-slider-section .main-slider .textover-slider .slider-text h1, .first-slider-section .main-slider .textover-slider .slider-text p {
    display: none; }
  .first-slider-section .main-slider .textover-slider .slider-text a {
    font-size: 12px;
    padding: 6px !important; }

  .service-section {
    padding: 20px 15px; }
    .service-section .service-item {
      margin-bottom: 10px; }

  .products-title-section h2 {
    font-size: 22px !important; }

  .figure-hover {
    text-align: center; }

  .message-section {
    padding: 12px 0; }
    .message-section .message-info .info-title {
      display: block; }
      .message-section .message-info .info-title::before {
        width: 0; }
      .message-section .message-info .info-title::after {
        width: 0; }
      .message-section .message-info .info-title h1 {
        font-size: 35px; }
    .message-section .message-info .info-context {
      display: none; }
    .message-section .message-info .shop-button {
      font-size: 12px;
      padding: 6px; }

  .review-section .review-owl-slider .review-slider-item img {
    width: auto; }
  .review-section #player {
    width: 100%;
    height: 100%; }

  .details-section {
    padding: 20px 15px; }
    .details-section .details-item {
      padding: 10px 30px; }
      .details-section .details-item .details-icon {
        padding: 0; }
        .details-section .details-item .details-icon .hover-img {
          top: 0;
          left: 44%; }
          .details-section .details-item .details-icon .hover-img::hover {
            opacity: 1; }
      .details-section .details-item .details-item-info {
        text-align: center; }
        .details-section .details-item .details-item-info h6 {
          margin: 5px 0; }
      .details-section .details-item .arrow-seperate {
        display: none; }
    .details-section .last-details-item {
      position: initial;
      background-size: 120%;
      background-position: 100%; } }
@media (min-width: 767px) and (max-width: 991px) {
  .first-header .social-links {
    text-align: center;
    margin-bottom: 1rem; }

  #player {
    width: 100%;
    height: 100%; }

  .first-slider-section .main-slider .textover-slider .slider-text h1 {
    font-size: 24px; }
  .first-slider-section .main-slider .textover-slider .slider-text a {
    font-size: 12px;
    padding: 6px !important; }

  .service-section .service-item .service-text h5 {
    font-size: 15px; }

  .third-header {
    position: initial; }

  .blog-section .blog-figure {
    text-align: center; }

  .details-section {
    padding: 20px 15px; }
    .details-section .details-item {
      padding: 10px 30px; }
      .details-section .details-item .details-icon {
        padding: 0; }
        .details-section .details-item .details-icon .hover-img {
          top: 0;
          left: 44%; }
          .details-section .details-item .details-icon .hover-img::hover {
            opacity: 1; }
      .details-section .details-item .details-item-info h6 {
        margin: 5px 0; }
      .details-section .details-item .arrow-seperate {
        display: none; }
    .details-section .last-details-item {
      position: initial;
      background-size: 120%;
      background-position: 100%;
      padding: 0; }
      .details-section .last-details-item .enjoy-message {
        padding: 5px 0; }
        .details-section .last-details-item .enjoy-message h3 {
          font-size: 18px;
          margin-bottom: 1px; }

  .subscribe {
    display: none; }

  .subscribe-resp {
    display: block;
    text-align: -webkit-center; }
    .subscribe-resp .subscribe-text {
      font-size: 18px; }
    .subscribe-resp .subscribe-place {
      margin-bottom: 0.5rem; }

  .half-sm .loginmodal .main-modal {
    padding: 0; }
    .half-sm .loginmodal .main-modal .modal-section .sign-upin-section {
      position: initial;
      width: 100%;
      justify-content: center; }
      .half-sm .loginmodal .main-modal .modal-section .sign-upin-section li {
        font-size: 20px; }
    .half-sm .loginmodal .main-modal .modal-section .tab-content .tab-pane .brandbook {
      display: none; }
    .half-sm .loginmodal .main-modal .modal-section .tab-content .tab-pane .login-sign {
      padding: 20px; }
      .half-sm .loginmodal .main-modal .modal-section .tab-content .tab-pane .login-sign .social-media .social {
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 300; } }
/* CONTENTS */
/* compare-section */
.compare-section {
  background: #F5F5F5;
  padding: 50px 0; }
  .compare-section .compare-title-box .compare-nav-breadcrumb .breadcrumb {
    background: none;
    justify-content: center; }
    .compare-section .compare-title-box .compare-nav-breadcrumb .breadcrumb .breadcrumb-item a {
      color: #333333;
      text-decoration: none;
      transition: all 0.3s; }
      .compare-section .compare-title-box .compare-nav-breadcrumb .breadcrumb .breadcrumb-item a:hover {
        color: #FF9800; }
    .compare-section .compare-title-box .compare-nav-breadcrumb .breadcrumb .active {
      color: #FF9800; }
  .compare-section .comparison-table-section .comparison-table .added-product {
    vertical-align: middle; }
    .compare-section .comparison-table-section .comparison-table .added-product h6 {
      font-weight: 400; }
    .compare-section .comparison-table-section .comparison-table .added-product i {
      color: #FF9800; }
  .compare-section .comparison-table-section .comparison-table .product-name-buy .buy-item {
    width: 100%;
    display: grid; }
  .compare-section .comparison-table-section .comparison-table .product-name-buy h6 {
    font-weight: 400; }
  .compare-section .comparison-table-section .comparison-table .product-name-buy .comparison-product-buy {
    width: 100%;
    background: white;
    border-color: #ececec;
    color: #333333;
    font-size: 11px;
    font-weight: 700;
    padding: 10px 9px;
    border-radius: 3px;
    margin-bottom: -1px; }
    .compare-section .comparison-table-section .comparison-table .product-name-buy .comparison-product-buy:hover {
      background-color: #FF9800;
      color: white; }
    .compare-section .comparison-table-section .comparison-table .product-name-buy .comparison-product-buy .little-btn-img {
      margin: 0 5px; }
  .compare-section .comparison-table-section .comparison-table .middle-align {
    vertical-align: middle; }
  .compare-section .table-accord-box .accordion-button {
    text-decoration: none;
    color: #333333;
    display: block;
    padding: 10px 0;
    font-weight: 500; }
  .compare-section .table-accord-box .accordion-table {
    background: white; }

/* compare-responsive-section */
.compare-section-resp {
  display: none;
  padding: 50px 0;
  background: #F5F5F5; }
  .compare-section-resp .compare-title-box .compare-nav-breadcrumb .breadcrumb {
    background: none;
    justify-content: center; }
    .compare-section-resp .compare-title-box .compare-nav-breadcrumb .breadcrumb .breadcrumb-item a {
      color: #333333;
      text-decoration: none;
      transition: all 0.3s; }
      .compare-section-resp .compare-title-box .compare-nav-breadcrumb .breadcrumb .breadcrumb-item a:hover {
        color: #FF9800; }
    .compare-section-resp .compare-title-box .compare-nav-breadcrumb .breadcrumb .active {
      color: #FF9800; }
  .compare-section-resp .added-product {
    margin-bottom: 30px; }
    .compare-section-resp .added-product i {
      color: #FF9800;
      font-size: 20px; }
  .compare-section-resp .comparison-resp-table .details-tog-button {
    background-color: #FF9800;
    color: white;
    border-color: transparent;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    background: #F5F5F5;
    border-color: #F5F5F5;
    color: #333333; }
    .compare-section-resp .comparison-resp-table .details-tog-button:hover {
      background-color: white;
      color: #FF9800;
      border-color: #FF9800; }
    .compare-section-resp .comparison-resp-table .details-tog-button:hover {
      background-color: #FF9800;
      border-color: #FF9800;
      color: white; }
  .compare-section-resp .comparison-resp-table .details-list .active {
    border-color: initial;
    background: none;
    color: #FF9800; }
  .compare-section-resp .comparison-resp-table .details-list .comparison-product-buy {
    width: 100%;
    background: white;
    border-color: #ececec;
    color: #333333;
    font-size: 11px;
    font-weight: 700;
    padding: 10px 9px;
    border-radius: 3px;
    margin-bottom: -1px; }
    .compare-section-resp .comparison-resp-table .details-list .comparison-product-buy:hover {
      background-color: #FF9800;
      color: white; }
    .compare-section-resp .comparison-resp-table .details-list .comparison-product-buy .little-btn-img {
      margin: 0 5px; }

@media (max-width: 767px) {
  .compare-section {
    display: none; }

  .compare-section-resp {
    display: block; } }
@media (min-width: 767px) and (max-width: 991px) {
  .compare-section {
    display: none; }

  .compare-section-resp {
    display: block; } }
/* CONTENTS */
/* wishlist-title-section */
.wishlist-title-section {
  background-image: url("../img/wishlist-slider-img.jpg");
  padding: 50px 0; }
  .wishlist-title-section .wishlist-title-box .compare-nav-breadcrumb .breadcrumb {
    background: none;
    justify-content: center; }
    .wishlist-title-section .wishlist-title-box .compare-nav-breadcrumb .breadcrumb .breadcrumb-item a {
      color: #333333;
      text-decoration: none;
      transition: all 0.3s; }
      .wishlist-title-section .wishlist-title-box .compare-nav-breadcrumb .breadcrumb .breadcrumb-item a:hover {
        color: #FF9800; }
    .wishlist-title-section .wishlist-title-box .compare-nav-breadcrumb .breadcrumb .active {
      color: #FF9800; }

/* wishlist-section */
.wishlist-section {
  background: #F5F5F5;
  padding: 50px 0;
  text-align: center; }
  .wishlist-section .wishlist-t-main {
    background: white; }
    .wishlist-section .wishlist-t-main .wishlist-table .remove-icon .remove-link {
      text-decoration: none;
      font-size: 20px;
      color: #FF9800; }
      .wishlist-section .wishlist-t-main .wishlist-table .remove-icon .remove-link:hover {
        color: red; }
    .wishlist-section .wishlist-t-main .wishlist-table thead {
      background: #F5F5F5; }
      .wishlist-section .wishlist-t-main .wishlist-table thead th {
        color: #707070;
        padding: 20px 25px; }
    .wishlist-section .wishlist-t-main .wishlist-table th, .wishlist-section .wishlist-t-main .wishlist-table td {
      vertical-align: middle; }
    .wishlist-section .wishlist-t-main .wishlist-table .in-stock {
      color: #A0C748; }
    .wishlist-section .wishlist-t-main .wishlist-table .out-stock {
      color: red; }
    .wishlist-section .wishlist-t-main .wishlist-table .buy-button {
      background-color: #FF9800;
      color: white;
      border-color: transparent;
      font-weight: 400;
      cursor: pointer;
      font-size: 14px; }
      .wishlist-section .wishlist-t-main .wishlist-table .buy-button:hover {
        background-color: white;
        color: #FF9800;
        border-color: #FF9800; }

/* related-section */
.related-section {
  padding: 0 0 50px 0; }
  .related-section .related-title-section::before {
    content: none; }
  .related-section .related-title-section h2 {
    font-size: 20px;
    background: white;
    margin: 10px 0; }
  .related-section .related-slider {
    background: white; }

/* CONTENTS */
.contact-section {
  background: #F5F5F5;
  padding: 50px 0; }
  .contact-section .contact-breadcrumb .contact-nav-breadcrumb .breadcrumb {
    background: none;
    justify-content: start; }
    .contact-section .contact-breadcrumb .contact-nav-breadcrumb .breadcrumb .breadcrumb-item {
      font-size: 16px; }
      .contact-section .contact-breadcrumb .contact-nav-breadcrumb .breadcrumb .breadcrumb-item a {
        color: #333333;
        text-decoration: none;
        transition: all 0.3s; }
        .contact-section .contact-breadcrumb .contact-nav-breadcrumb .breadcrumb .breadcrumb-item a:hover {
          color: #FF9800; }
    .contact-section .contact-breadcrumb .contact-nav-breadcrumb .breadcrumb .active {
      color: #FF9800; }
  .contact-section .contact-form-box {
    background: white;
    padding: 30px 0; }
  .contact-section .message-form {
    background: white;
    padding: 0 30px 30px; }
    .contact-section .message-form form input, .contact-section .message-form form textarea {
      background: #F5F5F5; }
    .contact-section .message-form form .contact-submit-button {
      background-color: #FF9800;
      color: white;
      border-color: transparent;
      font-weight: 400;
      cursor: pointer;
      padding: 10px 40px;
      color: white;
      background: #333333; }
      .contact-section .message-form form .contact-submit-button:hover {
        background-color: white;
        color: #FF9800;
        border-color: #FF9800; }
      .contact-section .message-form form .contact-submit-button:hover {
        color: white;
        background: #FF9800; }
  .contact-section .contact-info {
    padding: 0 30px 0 0; }
    .contact-section .contact-info .info-box {
      margin-top: 20px; }
      .contact-section .contact-info .info-box .info-box-item {
        margin-bottom: 20px; }
        .contact-section .contact-info .info-box .info-box-item .item-icon {
          position: relative;
          display: inline-block;
          width: 50px;
          color: #FF9800;
          height: 50px;
          font-size: 18px; }
          .contact-section .contact-info .info-box .info-box-item .item-icon i {
            border: 1px solid #FF9800;
            border-radius: 100%;
            line-height: 16px;
            padding: 15px; }
            .contact-section .contact-info .info-box .info-box-item .item-icon i:hover {
              background: #FF9800;
              color: white; }
        .contact-section .contact-info .info-box .info-box-item .mail-icon {
          font-size: 16px; }
        .contact-section .contact-info .info-box .info-box-item .item-text {
          padding-left: 20px; }

@media (max-width: 767px) {
  .map-box iframe {
    width: 100%; } }
@media (min-width: 767px) and (max-width: 991px) {
  .map-box iframe {
    width: 100%; } }
/* wishlist-section */
/* .wishlist-section{
    background: $background-color;
    padding: 50px 0;
    text-align: center;
    .wishlist-t-main{
        background: white;
        .wishlist-table{
            .remove-icon{
                .remove-link{
                    text-decoration: none;
                    font-size: 20px;
                    color: $secondary-color;
                    &:hover{
                        color: red;
                    }
                }
            }
            thead{
                background: $background-color;
                th{
                    color: #707070;
                    padding: 20px 25px;
                }
            }
            th, td{
                vertical-align: middle;
            }
            .in-stock{
                color: #A0C748;
            }
            .out-stock{
                color:red;
            }
            .buy-button{
                @include button-main;
                font-size: 14px;
            }
        }
    }
} */
/* related-section */
/* .related-section{
    padding:0 0 50px 0;
    .related-title-section{
        &::before{
            content: none;
        }
        h2{
            font-size: 20px;
            background: white;
            margin: 10px 0;
        }
    }
    .related-slider{
        background: white;
    }
} */
/* CONTENTS */
.shop-section {
  padding: 50px 0;
  background: #F5F5F5; }
  .shop-section .shop-breadcrumb-nav .breadcrumb {
    background: #F5F5F5; }
    .shop-section .shop-breadcrumb-nav .breadcrumb .breadcrumb-item a {
      color: #333333;
      text-decoration: none;
      transition: all 0.5s; }
      .shop-section .shop-breadcrumb-nav .breadcrumb .breadcrumb-item a:hover {
        color: #FF9800; }
    .shop-section .shop-breadcrumb-nav .breadcrumb .active {
      color: #FF9800; }
  .shop-section .shop-search .side-search {
    background: white;
    border-left: none;
    border-color: #ced4da; }
    .shop-section .shop-search .side-search i {
      color: #ced4da; }
  .shop-section .sidebar-menu {
    background: white;
    padding: 30px;
    margin-top: 20px; }
    .shop-section .sidebar-menu .sidebar-menu-nav ul .sidebar-menu-items a {
      color: #333333;
      padding: 7px 3px;
      transition: all 0.5s; }
      .shop-section .sidebar-menu .sidebar-menu-nav ul .sidebar-menu-items a:hover {
        color: #FF9800;
        transform: translateX(10px); }
    .shop-section .sidebar-menu .sidebar-menu-nav ul .sidebar-menu-items .items-drop {
      display: none; }
  .shop-section .check-markets {
    padding: 30px;
    background: white;
    margin-top: 20px; }
    .shop-section .check-markets ul li {
      padding: 5px 0; }
      .shop-section .check-markets ul li a {
        color: #333333;
        text-decoration: none;
        transition: all 0.5s; }
        .shop-section .check-markets ul li a:hover {
          color: #FF9800; }
  .shop-section .color-options ul {
    list-style-type: none;
    padding: 0 15px; }
    .shop-section .color-options ul i {
      margin-right: 15px; }
    .shop-section .color-options ul .red {
      color: red; }
    .shop-section .color-options ul .purple {
      color: purple; }
    .shop-section .color-options ul .yellow {
      color: yellow; }
    .shop-section .color-options ul .blue {
      color: blue; }
    .shop-section .color-options ul .black {
      color: black; }
  .shop-section .tag-options {
    padding: 30px;
    background: white;
    margin-top: 20px; }
    .shop-section .tag-options ul li {
      display: inline;
      font-size: 12px; }
      .shop-section .tag-options ul li a {
        text-decoration: none;
        padding: 4px;
        background: #F5F5F5;
        color: #333333;
        font-size: 10px;
        margin-bottom: 3px;
        display: inline-block; }
        .shop-section .tag-options ul li a:hover {
          background-color: #333333;
          color: white; }
  .shop-section .slider-customer {
    padding: 30px;
    background: white;
    margin-top: 20px; }
    .shop-section .slider-customer .customer-owl-slider .customer-owl-item {
      position: relative; }
      .shop-section .slider-customer .customer-owl-slider .customer-owl-item .item-caption {
        margin-top: 10px; }
        .shop-section .slider-customer .customer-owl-slider .customer-owl-item .item-caption .rateYoCustomer {
          display: inline-block; }
    .shop-section .slider-customer .customer-owl-slider .owl-prev, .shop-section .slider-customer .customer-owl-slider .owl-next {
      position: absolute;
      top: 23%;
      padding: 8px 13px;
      border-radius: 50%;
      background-color: #f7f7f7;
      color: #333333; }
      .shop-section .slider-customer .customer-owl-slider .owl-prev:hover, .shop-section .slider-customer .customer-owl-slider .owl-next:hover {
        background-color: #FF9800;
        color: white; }
    .shop-section .slider-customer .customer-owl-slider .owl-prev {
      left: -12%; }
    .shop-section .slider-customer .customer-owl-slider .owl-next {
      right: -12%; }
  .shop-section .shop-box {
    font-size: 12px; }
    .shop-section .shop-box .shop-box-nav {
      background: white;
      padding: 7px; }
      .shop-section .shop-box .shop-box-nav .sort .sort-button {
        background-color: #FF9800;
        color: white;
        border-color: transparent;
        font-weight: 400;
        cursor: pointer;
        background: #f7f7f7;
        color: #333333;
        font-size: 12px; }
        .shop-section .shop-box .shop-box-nav .sort .sort-button:hover {
          background-color: white;
          color: #FF9800;
          border-color: #FF9800; }
      .shop-section .shop-box .shop-box-nav .sort .dropdown-menu {
        font-size: 12px; }
      .shop-section .shop-box .shop-box-nav .display-icons {
        font-size: 20px; }
        .shop-section .shop-box .shop-box-nav .display-icons .icon-link {
          color: #333333; }
        .shop-section .shop-box .shop-box-nav .display-icons .active {
          color: #FF9800; }
        .shop-section .shop-box .shop-box-nav .display-icons a:nth-child(1) {
          margin-right: 6px; }
    .shop-section .shop-box .shop-products-view {
      margin-top: 10px; }
      .shop-section .shop-box .shop-products-view .figure-hover {
        padding: 10px 0; }
    .shop-section .shop-box .show-more-button {
      text-transform: uppercase;
      margin-top: 20px;
      background-color: #FF9800;
      color: white;
      border-color: transparent;
      font-weight: 400;
      cursor: pointer;
      border: none;
      background: #cecece;
      padding: 15px 40px; }
      .shop-section .shop-box .show-more-button:hover {
        background-color: white;
        color: #FF9800;
        border-color: #FF9800; }
    .shop-section .shop-box .deactive {
      display: none; }

@media (max-width: 767px) {
  .compare-section {
    display: none; }

  .compare-section-resp {
    display: block; }

  .shopbrand-names {
    display: none; } }
@media (min-width: 767px) and (max-width: 991px) {
  .compare-section {
    display: none; }

  .compare-section-resp {
    display: block; } }
/* CONTENTS */
.prodet-section {
  padding: 50px 0;
  background: #F5F5F5; }
  .prodet-section .prodet-breadcrumb-nav .breadcrumb {
    background: #F5F5F5; }
    .prodet-section .prodet-breadcrumb-nav .breadcrumb .breadcrumb-item a {
      color: #333333;
      text-decoration: none;
      transition: all 0.5s; }
      .prodet-section .prodet-breadcrumb-nav .breadcrumb .breadcrumb-item a:hover {
        color: #FF9800; }
    .prodet-section .prodet-breadcrumb-nav .breadcrumb .active {
      color: #FF9800; }
  .prodet-section .info-area {
    padding: 35px 0; }
  .prodet-section .slide-info-box .lSAction .lSPrev i, .prodet-section .slide-info-box .lSAction .lSNext i {
    padding: 10px 13px;
    border-radius: 50%;
    background-color: #f7f7f7;
    color: #333333;
    border: 1px solid #9b9b9b; }
    .prodet-section .slide-info-box .lSAction .lSPrev i:hover, .prodet-section .slide-info-box .lSAction .lSNext i:hover {
      background-color: #FF9800;
      border-color: #FF9800; }
  .prodet-section .slide-info-box .lSPager .active {
    border: 1px solid #FF9800; }
  .prodet-section .info-box .info-title {
    padding-bottom: 22px;
    border-bottom: 1px solid;
    border-color: #c3c3c3; }
    .prodet-section .info-box .info-title .rating-info p {
      margin-bottom: 0;
      margin-left: 5px; }
  .prodet-section .info-text {
    padding: 20px 0; }
    .prodet-section .info-text p {
      margin-bottom: 0; }
  .prodet-section .info-buy .info-buy-item .info-price {
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec; }
    .prodet-section .info-buy .info-buy-item .info-price .badge-best-price {
      font-size: 11px;
      font-weight: 400;
      position: absolute;
      top: 20px;
      left: 20px;
      color: white;
      background: #ff4a4a;
      padding: 5px 13px;
      border-radius: 10%; }
    .prodet-section .info-buy .info-buy-item .info-price p {
      margin-bottom: 0;
      font-size: 18px; }
  .prodet-section .info-buy .info-buy-item .info-button {
    border: 1px solid #ececec;
    border-left: none; }
    .prodet-section .info-buy .info-buy-item .info-button .buy-now-button {
      background-color: #FF9800;
      color: white;
      border-color: transparent;
      font-weight: 400;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 15px; }
      .prodet-section .info-buy .info-buy-item .info-button .buy-now-button:hover {
        background-color: white;
        color: #FF9800;
        border-color: #FF9800; }
    .prodet-section .info-buy .info-buy-item .info-button .red {
      background: #bf2228; }
    .prodet-section .info-buy .info-buy-item .info-button .orange {
      background: #f37020; }
    .prodet-section .info-buy .info-buy-item .info-button .green {
      background: #86b816; }
    .prodet-section .info-buy .info-buy-item .info-button .blue {
      background: #0065cd; }
  .prodet-section .detail-tabmenu {
    padding: 50px 0; }
    .prodet-section .detail-tabmenu .upper-nav {
      background: white;
      border-bottom: 1px solid #FF9800; }
      .prodet-section .detail-tabmenu .upper-nav li a {
        padding: 20px 0;
        background: none;
        color: #333333; }
      .prodet-section .detail-tabmenu .upper-nav li .active {
        background-color: #FF9800;
        color: white;
        border-radius: 0; }
    .prodet-section .detail-tabmenu .tab-content {
      background: white; }
      .prodet-section .detail-tabmenu .tab-content .desc-content {
        padding: 30px; }
        .prodet-section .detail-tabmenu .tab-content .desc-content .list-content {
          margin-bottom: 30px;
          border-bottom: 1px solid #333333; }
      .prodet-section .detail-tabmenu .tab-content .fulldesc-content {
        padding: 30px; }
        .prodet-section .detail-tabmenu .tab-content .fulldesc-content ul li p {
          margin: 0; }
        .prodet-section .detail-tabmenu .tab-content .fulldesc-content ul li .col {
          padding: 0; }
      .prodet-section .detail-tabmenu .tab-content .price-content {
        padding: 30px; }
        .prodet-section .detail-tabmenu .tab-content .price-content ul li {
          background: #F5F5F5; }
        .prodet-section .detail-tabmenu .tab-content .price-content .canvas-box .canvas-box-item {
          box-shadow: 0px 0px 17px 3px rgba(149, 161, 167, 0.2); }
        .prodet-section .detail-tabmenu .tab-content .price-content .canvas-box .canv {
          position: relative; }
          .prodet-section .detail-tabmenu .tab-content .price-content .canvas-box .canv strong {
            position: absolute;
            top: 37%;
            left: 53%;
            font-size: 16px; }
        .prodet-section .detail-tabmenu .tab-content .price-content .canvas-box .percent-text {
          font-size: 16px; }
        .prodet-section .detail-tabmenu .tab-content .price-content .diagramm-area {
          padding: 20px;
          margin-top: 30px;
          border: 1px solid #d8d8d8; }
          .prodet-section .detail-tabmenu .tab-content .price-content .diagramm-area .title {
            color: #FF9800; }
          .prodet-section .detail-tabmenu .tab-content .price-content .diagramm-area .small-nav li {
            background: white; }
            .prodet-section .detail-tabmenu .tab-content .price-content .diagramm-area .small-nav li i {
              color: #d8d8d8;
              margin-right: 2px; }
            .prodet-section .detail-tabmenu .tab-content .price-content .diagramm-area .small-nav li .active {
              background: none; }
              .prodet-section .detail-tabmenu .tab-content .price-content .diagramm-area .small-nav li .active i {
                color: #FF9800; }

@media (max-width: 767px) {
  .list-content {
    border-bottom: transparent !important; }

  .badge-best-price {
    top: 7px !important;
    left: 6px !important;
    font-size: 9px !important;
    padding: 2px !important; }

  .buy-now-button {
    font-size: 12px !important;
    padding: 5px; }

  .canvas-section {
    display: none; } }
@media (min-width: 767px) and (max-width: 991px) {
  .canvas-section {
    display: none; } }

/*# sourceMappingURL=base.css.map */
